<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto" cdkScrollable>

    <!-- Header -->
    <div class="relative flex-0 py-8 px-4 sm:p-16 overflow-hidden bg-gray-800 dark">
        <!-- Background - @formatter:off -->
        <!-- Rings -->
        <svg class="absolute inset-0 pointer-events-none" viewBox="0 0 960 540" width="100%" height="100%" preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
            <g class="text-gray-700 opacity-25" fill="none" stroke="currentColor" stroke-width="100">
                <circle r="234" cx="196" cy="23"></circle>
                <circle r="234" cx="790" cy="491"></circle>
            </g>
        </svg>
        <!-- @formatter:on -->
        <div class="z-10 relative flex flex-col items-center">
            <h2 class="text-xl font-semibold">GESTOR EDUCATIVO</h2>
            <div class="mt-1 text-4xl sm:text-7xl font-extrabold tracking-tight leading-tight text-center">
                ACUDIENTE O PADRE DE FAMILIA
            </div>
            <div class="max-w-2xl mt-6 sm:text-2xl text-center tracking-tight text-secondary">
                Acá podrás revisar información acerca de su hijo que sea relevante, identificar posibles faltas y actuar a tiempo,
                o conocer sus logros y celebrarlos con el o ella, la preveción es la mejor opción.
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-auto p-6 sm:p-10">

        <div class="flex flex-col flex-auto w-full max-w-xs sm:max-w-5xl mx-auto">
            <!-- Cards -->
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-26 mt-8 sm:mt-10">
                <!-- Card 1 -->
                <div class="flex flex-col h-96 shadow rounded-2xl overflow-hidden bg-card">
                    <div class="flex flex-col p-5">
                        <div class="flex items-center justify-between">
                            <div class="py-0.5 px-3 rounded-full text-sm font-semibold text-blue-800 bg-blue-100 dark:text-blue-50 dark:bg-blue-500">Web</div>
                            <div class="flex items-center"></div>
                        </div>
                        <div class="mt-4 text-lg font-medium">Notas</div>
                        <div class="mt-0.5 line-clamp-2 text-secondary">Evidencia cómo va tu progreso de notas.</div>
                        <div class="flex justify-center items-center">
                            <img class="max-h-22 w-22 pl-2 pt-2" src="../../../../../assets/images/cards_images/1.png" alt="">
                        </div>
                        <div class="w-12 h-1 my-6 border-t-2"></div>
                        <div class="flex items-center leading-5 text-md text-secondary">
                            <div class="ml-1.5">10 semanas</div>
                        </div>
                        <div class="flex items-center mt-2 leading-5 text-md text-secondary">
                            <div class="ml-1.5">Periodo 1</div>
                        </div>
                    </div>
                    <div class="flex flex-col w-full mt-auto">
                        <div class="relative h-0.5">
                            <div class="z-10 absolute inset-x-0 h-6 -mt-3"></div>
                        </div>
                        <div class="pr-32 py-4 text-right bg-gray-50 dark:bg-transparent">
                            <button>
                                <span class="inline-flex items-center">
                                    <span>Ver</span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Card 2 -->
                <!-- Card 1 -->
                <div class="flex flex-col h-96 shadow rounded-2xl overflow-hidden bg-card">
                    <div class="flex flex-col p-5">
                        <div class="flex items-center justify-between">
                            <div class="py-0.5 px-3 rounded-full text-sm font-semibold text-blue-800 bg-blue-100 dark:text-blue-50 dark:bg-blue-500">Web</div>
                            <div class="flex items-center"></div>
                        </div>
                        <div class="mt-4 text-lg font-medium">Asistencia</div>
                        <div class="mt-0.5 line-clamp-2 text-secondary">Consulta las materias de cada día.</div>
                        <div class="flex justify-center items-center">
                            <img class="max-h-22 w-22 pl-2 pt-2" src="../../../../../assets/images/cards_images/4.png" alt="">
                        </div>
                        <div class="w-12 h-1 my-6 border-t-2"></div>
                        <div class="flex items-center leading-5 text-md text-secondary">
                            <div class="ml-1.5">10 semanas</div>
                        </div>
                        <div class="flex items-center mt-2 leading-5 text-md text-secondary">
                            <div class="ml-1.5">Periodo 1</div>
                        </div>
                    </div>
                    <div class="flex flex-col w-full mt-auto">
                        <div class="relative h-0.5">
                            <div class="z-10 absolute inset-x-0 h-6 -mt-3"></div>
                        </div>
                        <div class="pr-32 py-4 text-right bg-gray-50 dark:bg-transparent">
                            <button>
                                <span class="inline-flex items-center">
                                    <span>Ver</span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Card 1 -->
                <div class="flex flex-col h-96 shadow rounded-2xl overflow-hidden bg-card">
                    <div class="flex flex-col p-5">
                        <div class="flex items-center justify-between">
                            <div class="py-0.5 px-3 rounded-full text-sm font-semibold text-blue-800 bg-blue-100 dark:text-blue-50 dark:bg-blue-500">Web</div>
                            <div class="flex items-center"></div>
                        </div>
                        <div class="mt-4 text-lg font-medium">Reportes</div>
                        <div class="mt-0.5 line-clamp-2 text-secondary">Identifica tu situación.</div>
                        <div class="flex justify-center items-center">
                            <img class="max-h-22 w-22 pl-2 pt-2" src="../../../../../assets/images/cards_images/5.png" alt="">
                        </div>
                        <div class="w-12 h-1 my-6 border-t-2"></div>
                        <div class="flex items-center leading-5 text-md text-secondary">
                            <div class="ml-1.5">10 semanas</div>
                        </div>
                        <div class="flex items-center mt-2 leading-5 text-md text-secondary">
                            <div class="ml-1.5">Periodo 1</div>
                        </div>
                    </div>
                    <div class="flex flex-col w-full mt-auto">
                        <div class="relative h-0.5">
                            <div class="z-10 absolute inset-x-0 h-6 -mt-3"></div>
                        </div>
                        <div class="pr-32 py-4 text-right bg-gray-50 dark:bg-transparent">
                            <button>
                                <span class="inline-flex items-center">
                                    <span>Ver</span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="flex flex-col h-96 shadow rounded-2xl overflow-hidden bg-card">
                    <div class="flex flex-col p-5">
                        <div class="flex items-center justify-between">
                            <div class="py-0.5 px-3 rounded-full text-sm font-semibold text-blue-800 bg-blue-100 dark:text-blue-50 dark:bg-blue-500">Web</div>
                            <div class="flex items-center"></div>
                        </div>
                        <div class="mt-4 text-lg font-medium">Pagos</div>
                        <div class="mt-0.5 line-clamp-2 text-secondary">Identifica tu situación.</div>
                        <div class="flex justify-center items-center">
                            <img class="max-h-22 w-22 pl-2 pt-2" src="../../../../../assets/images/cards_images/6.png" alt="">
                        </div>
                        <div class="w-12 h-1 my-6 border-t-2"></div>
                        <div class="flex items-center leading-5 text-md text-secondary">
                            <div class="ml-1.5">10 semanas</div>
                        </div>
                        <div class="flex items-center mt-2 leading-5 text-md text-secondary">
                            <div class="ml-1.5">Periodo 1</div>
                        </div>
                    </div>
                    <div class="flex flex-col w-full mt-auto">
                        <div class="relative h-0.5">
                            <div class="z-10 absolute inset-x-0 h-6 -mt-3"></div>
                        </div>
                        <div class="pr-32 py-4 text-right bg-gray-50 dark:bg-transparent">
                            <button>
                                <span class="inline-flex items-center">
                                    <span>Ver</span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="pt-5 pb-8">REGRESAR</button>
</div>
